
snippet df "New code block" A
{
	$0
}
endsnippet

snippet cc "Block comment" bA
/*
	 $1 
*/
endsnippet

snippet -- "Long comment to visually break up text" bA
// ---------------------------------------------------------------- //
endsnippet
